<button class="nav-toggle" (click)="toggle()" aria-label="Toggle menu" hoverScale>☰</button>

<nav class="nav-links" [@slideIn]="open() ? 'open' : 'closed'" [class.open]="open()">
  <div class="nav-left "><div class="brand"><img src="../../../assets/imgs/SFS-Icon.png" alt="Super Frames Logo" class="logicon">Super Frames</div> </div>
  <ul class="nav-list">
    <li *ngIf="has('home')"><a routerLink="/home" (click)="close()" hoverScale>Home</a></li>
    <li *ngIf="has('film-details')"><a routerLink="/film-details" (click)="close()" hoverScale>Film Details</a></li>
    <li *ngIf="has('script-details')"><a routerLink="/script-details" (click)="close()" hoverScale>Script Details</a></li>
    <li *ngIf="isAdmin()"><a routerLink="/admin" (click)="close()" hoverScale>Admin</a></li>
  </ul>
</nav>
