<div class="pageContainer">
<section class="home-card" @fadeIn>
  <div class="welcome">
    <h1>Welcome to Super Frames</h1>
    <p class="muted">A lightweight, secure script viewer and manager (demo).</p>
  </div>

  <hr />

  <h3>Recent Films</h3>
  <div class="grid">
    <article *ngFor="let f of films" class="film-card card">
      <!-- <div class="poster">{{ f.poster }} </div> -->
      <div class="poster"><img src="../../../assets/imgs/SFS-Icon.png" alt="Super Frames Logo" class="posterico"></div>
      <div class="meta">
        <h4>{{ f.title }}</h4>
        <p class="muted">{{ f.director }} • {{ f.year }}</p>
        <a routerLink="/film-details" class="btn">View Details</a>
      </div>
    </article>
  </div>
</section>
</div>
